.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation li {
    margin-left: 20px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.drawer {
    list-style: none;
    text-align: center;
}

.drawer li {
    margin-top: 20px;
}

.drawer li a {
    text-decoration: none;
    color: white;
}

.active {
    color: gold !important;
    font-weight: bold !important;
}